@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .transition-normal {
    transition: all 0.3s ease;
  }
}

button:hover,
a:hover {
  @apply transition-normal opacity-75;
}
